#pinboard_canvas {
    /*
        Beware: The CSS width and height of the canvas are NOT equivalent
        to the "width" and "height" attributes of the canvas.
    */
    width: 960px;
    height: 600px;
    border: 1px black solid;
}

#hello > span:last-child {
    float: right;
}